[Unit]
Description=Parse last updated trip data and generate trip overview site
Requires=docker.service
After=docker.service
Wants=docker.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/rudloff/sources/CapsuleScripts/servers/trip-overview/tripenv/bin/python3 /home/rudloff/sources/CapsuleScripts/servers/trip-overview/script/generate_site.py
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
